body {
  background: rgb(0,0,0);
  color: rgb(242,126,136);
  background-size: cover;
}
h1 a {
  color: rgb(242,126,136);
}
.line .b {
  border-left: 10px solid rgb(242,126,136);
}
.line a {
  color: rgb(242,126,136); 
}
button, a.btn, .console a.token {
  background: rgb(242,126,136);
  color: rgb(0,0,0);
  text-transform: uppercase;
  font-weight: bold;
}